h3 {
    color: aqua;
    font-size: 2em;
}
button {
    background-color: red;
    border: none;
    color: aliceblue;
    padding: 4px;
}
#contact-form {
    display: flex;
    flex-direction: column;
box-shadow: 1px .5px 3px 1px grey;
margin: 5px;
width: 30%;
padding: 10px;
gap: 3px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}